{{> header }}


{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Escritorio Apple</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur eius facilis magnam suscipit voluptatem qui
      maiores nemo reprehenderit. Repellendus quod laboriosam eius dolorum quas nisi consequatur culpa illum aspernatur
      saepe!</p>
  </div>
  <div class="col-4">
    <img src="/assets/img/escritorio.jpeg" class="img-thumbnail">
  </div>
</div>

{{> footer }}